# Node.js dependencies
node_modules/

# Build output
/build/
/dist/

# IDE-specific files
.vscode/
.idea/

# Environment variables files
.env
.env.local
.env.*.local

# MacOS Finder files
.AppleDouble
.LSOverride

# Windows Installer files
ehthumbs.db
Desktop.ini

# JetBrains project files
*.iml